@font-face {
    font-family: 'Bryndan Write';
    src: url('C:\Windows\Fonts') format('truetype')
}

*{
    margin: 0;
}

#page1 {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Bryndan Write';
    color: rgb(255, 255, 255);
    
}

.linha-vertical {
    width: 5px;        /* Largura da linha */
    height: 50px;     /* Altura da linha */
    background-color: #4b4d07; /* Cor da linha (preto) */
    display: inline-block;
    position: fixed;
    top: 2%;
    left: 21%;
}

#box{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 12%;
    position: fixed;
    
}

#imagem1>img{
    position: fixed;
    left: 73%;
    top: 7%;
    width: 42%;
}

#imagem2>img{
    position: fixed;
    left: 62%;
    top: 46%;
    width: 25%;
    transform: scaleX(-1);
}

#box2{
    background-color: rgb(0, 0, 0);
    width: 48%;
    height: 60%;
    position: fixed;
    top: 22%;
    left: 10%;
    opacity: 0.91;    
}

body{
    background-image: url("imagens_fundo/fundo_1.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    height: 100vh;
    width: 100%;
}

#box2>h1 {
    font-size: 32px;
    position: absolute;
    left: 12%;
    top: 13%;
    width: 80%;
}

#box2>h2 {
    font-size: 20px;
    position: absolute;
    left: 13%;
    top: 32%;
    width: 80%;
}

#box2>h3 {
    font-size: 20px;
    position: absolute;
    left: 13%;
    top: 65%;
    width: 80%;
}

#download {
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  background-color: #907002;
  border: 2px solid #907002;
  padding: 30px 120px 18px;
  overflow: hidden;
  position: fixed;
  top: 85%;
  left: 14%;
       
}

#download2 {
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  background-color: #907002;
  border: 2px solid #907002;
  padding: 30px 120px 18px;
  overflow: hidden;
  position: fixed;
  top: 85%;
  left: 35%;
}

#download>img {
    position: fixed;
    left: 26%;
    width: 5cap;
    top: 85vh;
}

#download2>img {
    position: fixed;
    left: 47%;
    width: 4cap;
    top: 86vh
}

#download>a>h4 {
    font-size: 20px;
    position: absolute;
    left: 20%;
    top: 25%;
    width: 25%;
}

#download2>a>h4 {
    font-size: 20px;
    position: absolute;
    left: 20%;
    top: 25%;
    width: 25%;
}

h1 {
    font-size: 180%;
    position: absolute;
    left: 6%;
    top: 30%;
    width: 80%;
    font-weight: 100;
}

h2 {
    font-size: 120%;
    position: absolute;
    left: 26%;
    top: 40%;
    font-weight: 100;
}

h3 {
    font-size: 120%;
    position: absolute;
    left: 34%;
    top: 40%;
    font-weight: 100;
}

h4 {
    font-size: 120%;
    position: absolute;
    left: 46%;
    top: 40%;
    font-weight: 100;
}

h5 {
    font-size: 120%;
    position: absolute;
    left: 58%;
    top: 40%;
    font-weight: 100;
}

h6 {
    font-size: 120%;
    position: absolute;
    left: 69%;
    top: 40%;
    font-weight: 100;
}

p {
    font-size: 120%;
    position: absolute;
    left: 84%;
    top: 40%;
    font-weight: 100;
}

a{
    color: rgb(255, 255, 255);
}


#rodape>a>h1{
    font-size: 120%;
    position: fixed;
    left: 66%;
    top: 95%;
    width: 80%;
    font-weight: 100;
    z-index: 1;
}
#rodape>a>h2{
    font-size: 120%;
    position: fixed;
    left: 75%;
    top: 95%;
    width: 80%;
    font-weight: 100;
    z-index: 1;
}
#rodape>a>h3{
    font-size: 120%;
    position: fixed;
    left: 87%;
    top: 95%;
    width: 80%;
    font-weight: 100;
    z-index: 1;
}
#rodape>a>h4{
    font-size: 120%;
    position: fixed;
    left: 95%;
    top: 95%;
    width: 80%;
    font-weight: 100;
    z-index: 1;
}



.title:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}


